*.exe filter=lfs diff=lfs merge=lfs -text
*.test.exe filter=lfs diff=lfs merge=lfs -text
bin/* filter=lfs diff=lfs merge=lfs -text
tmp/*.exe filter=lfs diff=lfs merge=lfs -text
M49_baseline_count6.txt filter=lfs diff=lfs merge=lfs -text
output/*.txt filter=lfs diff=lfs merge=lfs -text
bench_m53_out.txt filter=lfs diff=lfs merge=lfs -text
